page-my-profile {

	ion-content {		
		background-color: map-get($colors, background) !important;
	}
	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		/*justify-content: center;*/
	}
	.top-background
	{
		background-image: url('../assets/imgs/African-American-Female-Executive.jpg') !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;		
		width: calc(100% -520px);
		position: relative;
		z-index: -1;
		height: 100px !important;
	}
	.logo
	{
		width: 100px;
		height: 100px;
		/*margin-left: 25%;*/
		border-radius: 50%;
		border: 5px map-get($colors, primary) solid;
		margin-top: -50px;
		margin-bottom: 50px !important;
		z-index: 1;
		background-color: #fff;
		text-align: center !important;
		margin-left: auto;
	}
	.logo img {
		width: 100% !important;
	}
	.edit-profile {
		float: right;
		margin-top: -80px !important;
		margin-right: 20% !important;
		color: map-get($colors, secondary) !important;
	}
	.top-image
	{
		width: 65%;
	}
	.welcome-message
	{
		text-align: center;
		font-size: 1.7rem;
		font-weight: normal;
		line-height: 1.2;
		color: white;
	}

	.fullname
	{
		text-align: center;
		color: #5a5a5a;
		font-weight: bold;
		font-size: 1.8rem;
		margin-top: -30px !important;
	}
	.particulars-name
	{
		color: #5a5a5a;
		font-weight: bold;
	}
	.form-card
	{
		border-radius: 10px !important;
		// margin-top: -60px !important;
		z-index: 1;
		padding: 20px;
	}
	.form-title
	{
		text-align: center;
		padding: 15px;
		color: #5a5a5a;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	.top-background::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;




		background: map-get($colors, secondary);
		opacity: 0.8;
	}

	.login-button {
		width: 80%;
		margin-left: 10%;
		border-radius: 30px;
		border: 1px solid #fff;
		z-index: 2;
		background-color: map-get($colors, primary);
	}
	.form-icon {
		color: #999999;
		/*color: #ccc;*/
	    font-size: 25px;
	}
	.item-block:first-child {
	    border-top: 0.55px solid transparent !important;
	}
	.item-block:last-child {
	    border-bottom: 0.55px #c8c7cc transparent !important;
	}
	.item
	{
		border-bottom: 0.55px solid #c8c7cc !important;
		padding: 5px !important;
	}
	.label-name
	{
		color: #999999 !important;
	}

}
