{% extends 'main_app/base.html' %}

{% load staticfiles %}

{% block content %}

    <!-- Featured Title -->
    <div id="featured-title" class="clearfix featured-title-left">
        <div id="featured-title-inner" class="container clearfix">
            <div class="featured-title-inner-wrap">
                <div id="breadcrumbs">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumb-trail">
                            <a href="{% url 'mainAppNamespace:HomeName' %}" title="Construct" rel="home" class="trail-begin">Home</a>
                            <span class="sep"><span class="fa fa-angle-right" aria-hidden="true"></span></span>
                            <span class="trail-end">Company History</span>
                        </div>
                    </div>
                </div>

                <div class="featured-title-heading-wrap">
                    <h1 class="featured-title-heading">Company History</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Featured Title -->

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">

                        <!-- About Company -->
                        <div class="row-about-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <nav class="wprt-navbar style-1">
                                            <ul class="menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'mainAppNamespace:CompanyOverviewName' %}">Company Overview</a>
                                                </li>

                                                <!-- <li class="nav-item current-nav-item">
                                                    <a href="{% url 'mainAppNamespace:CompanyHistoryName' %}">Company History</a>
                                                </li> -->

                                                <li class="nav-item">
                                                    <a href="{% url 'mainAppNamespace:CareersName' %}">Careers</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="{% url 'mainAppNamespace:MsaccoName' %}">MSacco</a>
                                                </li>

                                                <!-- <li class="nav-item">
                                                    <a href="{% url 'mainAppNamespace:ResourcesName' %}">Resources</a>
                                                </li> -->

                                                <li class="nav-item">
                                                    <a href="{% url 'mainAppNamespace:MembershipName' %}">Membership</a>
                                                </li>

                                                <!-- <li class="nav-item">
                                                    <a href="page-team-grid.html">Our Team</a>
                                                </li> -->
                                            </ul>
                                        </nav>

                                        <div class="wprt-spacer clearfix" data-desktop="47" data-mobi="30" data-smobi="20"></div>

                                        <div class="wrap">
                                            <div class="wprt-headings clearfix">
                                                <h2 class="heading font-size-24 margin-bottom-5">How can we help you?</h2>
                                                <div class="sub-heading font-size-14">Contact us for your compliments, inquiries, requests and support.</div>
                                            </div>

                                            <div class="wprt-spacer clearfix" data-desktop="20" data-mobi="10" data-smobi="10"></div>

                                            <div class="wrap-button">
                                                <a class="wprt-button btn-small" href="{% url 'mainAppNamespace:ContactName' %}">Contact Us</a>
                                            </div>
                                        </div>

                                        <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="30"></div>
                                    </div><!-- /.col-md-3 -->

                                    <div class="col-md-9">
                                        <div class="image-wrap">
                                            <img src="{% static 'main_app/img/abouts/about-2.jpg' %}" alt="Image">
                                        </div>

                                        <div class="wprt-spacer clearfix" data-desktop="23" data-mobi="20" data-smobi="20"></div>

                                        <h3 class="heading font-size-24 margin-bottom-8">Opportunities Don't Happen. You Create Them!</h3>

                                        <div class="desc">
                                            <p class="margin-bottom-13">
                                                loanApp sacco has been officialy launched in early 2018 and it is still growing in the Kenyan ecosystem.
                                            </p>
                                        </div>

                                        <div class="wprt-spacer clearfix" data-desktop="56" data-mobi="30" data-smobi="20"></div>

                                        <!-- <div class="wprt-timelines clearfix">
                                            <div class="item">
                                                <div class="date">
                                                    <h4>1980</h4>
                                                </div>

                                                <div class="content-wrap">
                                                    <h4 class="title">Annual Award for Business Excellence</h4>
                                                    <div class="desc"> Nother family member reinforced the younger man’s interest in the field. Joe’s uncle was an architect and a general contractor and encouraged Joe.</div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="date">
                                                    <h4>1990</h4>
                                                </div>

                                                <div class="content-wrap">
                                                    <h4 class="title">Influential Women in Business</h4>
                                                    <div class="desc"> Nother family member reinforced the younger man’s interest in the field. Joe’s uncle was an architect and a general contractor and encouraged Joe.</div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="date">
                                                    <h4>2004</h4>
                                                </div>

                                                <div class="content-wrap">
                                                    <h4 class="title">Award of Recognition</h4>
                                                    <div class="desc"> Nother family member reinforced the younger man’s interest in the field. Joe’s uncle was an architect and a general contractor and encouraged Joe.</div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="date">
                                                    <h4>2010</h4>
                                                </div>

                                                <div class="content-wrap">
                                                    <h4 class="title">Entrepreneurship Hall of Fame</h4>
                                                    <div class="desc"> Nother family member reinforced the younger man’s interest in the field. Joe’s uncle was an architect and a general contractor and encouraged Joe.</div>
                                                </div>
                                            </div>

                                            <div class="item end">
                                                <div class="date">
                                                    <h4>2017</h4>
                                                </div>

                                                <div class="content-wrap">
                                                    <h4 class="title">Business Achievement Award</h4>
                                                    <div class="desc"> Nother family member reinforced the younger man’s interest in the field. Joe’s uncle was an architect and a general contractor and encouraged Joe.</div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                
                                    <div class="col-md-12">
                                        <div class="wprt-spacer clearfix" data-desktop="65" data-mobi="36" data-smobi="36"></div>
                                    </div>
                                </div><!-- /.Row -->
                            </div><!-- /.container -->
                        </div>
                        <!-- /About Company -->
                    </div><!-- /.page-content -->
                </div><!-- /#inner-content -->
            </div><!-- /#site-content -->
        </div><!-- /#content-wrap -->
    </div>
    <!-- /Main Content -->

{% endblock %}
